pipeline/QcPngCopyToHosBlobPipeline.json
{
	"name": "QcPngCopyToHosBlobPipeline",
	"properties": {
		"activities": [
			{
				"name": "qcblobmetadataactivity",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "srcqcbinarydatasetallfiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "qcpngfilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "qcblobmetadataactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('qcblobmetadataactivity').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'png')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "qcpngforeach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "qcpngfilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('qcpngfilter').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "qcpngcopytohos",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "srcqcbinarydataset",
									"type": "DatasetReference",
									"parameters": {
										"filename": "@item().Name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "targethospngdataset",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-07-04T09:25:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}