ctcmapdatafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ctcmapdatafactory"
		},
		"BinaryLS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BinaryLS'"
		},
		"dfcosmolink_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dfcosmolink'"
		},
		"dflinkedsvc_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'dflinkedsvc'"
		},
		"hoscosmols_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hoscosmols'"
		},
		"mapdflinkedservice_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'mapdflinkedservice'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/QCBlobCopyToHosBlobPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "qcblobmetadataactivity",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "QcbinaryDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "qcmediafilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "qcblobmetadataactivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('qcblobmetadataactivity').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@not(endswith(item().name,'.json'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "qcmediaforeach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "qcmediafilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('qcmediafilter').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "qcmediacopytohos",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "qcmediadataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "hosblobdataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-04T09:25:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QcbinaryDataset')]",
				"[concat(variables('factoryId'), '/datasets/qcmediadataset')]",
				"[concat(variables('factoryId'), '/datasets/hosblobdataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/QCJsonDataflowToHosCosmoPipelineV2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "qcjsonmetadataactivity",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SrcDatasetQC",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "qcjsonfilterv2",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "qcjsonmetadataactivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('qcjsonmetadataactivity').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name,'json')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "qcjsonfilterv2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('qcjsonfilterv2').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Data flow1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "QcJsonBlobToHosCosmoDataflow",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"qcjsonstream": {
													"filename": "@item().Name"
												},
												"hoscosmostream": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-04T09:25:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SrcDatasetQC')]",
				"[concat(variables('factoryId'), '/dataflows/QcJsonBlobToHosCosmoDataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/QcJsonDataflowToHosCosmoPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "qctohosdataflowv2",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "QcJsonBlobToHosCosmoDataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"qcjsonstream": {
										"filename": "@{item().name}"
									},
									"hoscosmostream": {}
								},
								"linkedServiceParameters": {
									"qcjsonstream": {
										"schemaLinkedService": {
											"filename": "@{item().name}"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/QcJsonBlobToHosCosmoDataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/QcPdfCopytoHosBlobPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "qcblobmetadataactivity",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "srcqcbinarydatasetallfiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "qcpdffilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "qcblobmetadataactivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('qcblobmetadataactivity').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name,'pdf')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "qcpdfforeach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "qcpdffilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('qcpdffilter').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "qcpdfcopytohos",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "srcqcbinarydataset",
											"type": "DatasetReference",
											"parameters": {
												"filename": "@item().Name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "targethospdfdataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-04T09:25:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcqcbinarydatasetallfiles')]",
				"[concat(variables('factoryId'), '/datasets/srcqcbinarydataset')]",
				"[concat(variables('factoryId'), '/datasets/targethospdfdataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/QcPngCopyToHosBlobPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "qcblobmetadataactivity",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "srcqcbinarydatasetallfiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "qcpngfilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "qcblobmetadataactivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('qcblobmetadataactivity').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name,'png')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "qcpngforeach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "qcpngfilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('qcpngfilter').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "qcpngcopytohos",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "srcqcbinarydataset",
											"type": "DatasetReference",
											"parameters": {
												"filename": "@item().Name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "targethospngdataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-04T09:25:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcqcbinarydatasetallfiles')]",
				"[concat(variables('factoryId'), '/datasets/srcqcbinarydataset')]",
				"[concat(variables('factoryId'), '/datasets/targethospngdataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TempQCJsonCopyToHosBlobPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "qcblobmetadataactivity",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "srcqcbinarydatasetallfiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "qcjsonfilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "qcblobmetadataactivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('qcblobmetadataactivity').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name,'json')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "qcjsonforeach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "qcjsonfilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('qcjsonfilter').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "qcjsoncopytohos",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "srcqcbinarydataset",
											"type": "DatasetReference",
											"parameters": {
												"filename": "@item().Name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "targethosjsondatasetv2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-04T09:25:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcqcbinarydatasetallfiles')]",
				"[concat(variables('factoryId'), '/datasets/srcqcbinarydataset')]",
				"[concat(variables('factoryId'), '/datasets/targethosjsondatasetv2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binarydataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "targetblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/QcJsonDatasetv2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "@item().Name"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "@dataset().filename",
						"container": "targetblobcontainer"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"ParentId": {
							"type": "string"
						},
						"FromDate": {
							"type": "string"
						},
						"ToDate": {
							"type": "string"
						},
						"JobId": {
							"type": "string"
						},
						"Receiveddate": {
							"type": "string"
						},
						"MultiUnitDiscount": {
							"type": "string"
						},
						"OriginalDeliveryDate": {
							"type": "string"
						},
						"BookedInstallforDateTime": {
							"type": "string"
						},
						"BookedTimeWindow": {
							"type": "string"
						},
						"ClientInfo": {
							"type": "string"
						},
						"CustomerAddress1": {
							"type": "string"
						},
						"CustomerAddress2": {
							"type": "string"
						},
						"CustomerCity": {
							"type": "string"
						},
						"CustomerProvince": {
							"type": "string"
						},
						"CustomerPostalCode": {
							"type": "string"
						},
						"CustomerHomePhone": {
							"type": "string"
						},
						"CustomerAlternatePhone": {
							"type": "string"
						},
						"CustomerMobilePhone": {
							"type": "string"
						},
						"ClientEmail": {
							"type": "string"
						},
						"PreferredMethodofCommunication": {
							"type": "string"
						},
						"Make": {
							"type": "string"
						},
						"ModelNumber": {
							"type": "string"
						},
						"SerialNumber": {
							"type": "string"
						},
						"Description": {
							"type": "string"
						},
						"PaymentType": {
							"type": "string"
						},
						"TrackingNumber": {
							"type": "string"
						},
						"DealerName": {
							"type": "string"
						},
						"District": {
							"type": "string"
						},
						"OrderNumber": {
							"type": "string"
						},
						"TicketNumber": {
							"type": "string"
						},
						"AuthorizationNumber": {
							"type": "string"
						},
						"POforadditionalwork": {
							"type": "string"
						},
						"Status": {
							"type": "string"
						},
						"ReceivedFrom": {
							"type": "string"
						},
						"JobType": {
							"type": "string"
						},
						"Product1": {
							"type": "string"
						},
						"QTY1": {
							"type": "string"
						},
						"Product2": {
							"type": "string"
						},
						"QTY2": {
							"type": "string"
						},
						"Product3": {
							"type": "string"
						},
						"QTY3": {
							"type": "string"
						},
						"Product4": {
							"type": "string"
						},
						"QTY4": {
							"type": "string"
						},
						"Product5": {
							"type": "string"
						},
						"QTY5": {
							"type": "string"
						},
						"Product6": {
							"type": "string"
						},
						"QTY6": {
							"type": "string"
						},
						"Product7": {
							"type": "string"
						},
						"QTY7": {
							"type": "string"
						},
						"Product8": {
							"type": "string"
						},
						"QTY8": {
							"type": "string"
						},
						"Product9": {
							"type": "string"
						},
						"QTY9": {
							"type": "string"
						},
						"Product10": {
							"type": "string"
						},
						"QTY10": {
							"type": "string"
						},
						"JobStatus": {
							"type": "string"
						},
						"TimeOnTask": {
							"type": "string"
						},
						"AdminArea": {
							"type": "string"
						},
						"AssignedTo": {
							"type": "string"
						},
						"InvoiceDate": {
							"type": "string"
						},
						"Call": {
							"type": "string"
						},
						"ClientSurveyLanguage": {
							"type": "string"
						},
						"SurveyCompleted": {
							"type": "string"
						},
						"comments": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"JobId": {
										"type": "string"
									},
									"UserName": {
										"type": "string"
									},
									"UserType": {
										"type": "string"
									},
									"Date": {
										"type": "string"
									},
									"Note": {
										"type": "string"
									}
								}
							}
						},
						"Documents": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"JobId": {
										"type": "string"
									},
									"Location": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/QcbinaryDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "targetblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcDatasetQC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dflinkedsvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "targetblobcontainer"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"ParentId": {
							"type": "string"
						},
						"FromDate": {
							"type": "string"
						},
						"ToDate": {
							"type": "string"
						},
						"JobId": {
							"type": "string"
						},
						"Receiveddate": {
							"type": "string"
						},
						"MultiUnitDiscount": {
							"type": "string"
						},
						"OriginalDeliveryDate": {
							"type": "string"
						},
						"BookedInstallforDateTime": {
							"type": "string"
						},
						"BookedTimeWindow": {
							"type": "string"
						},
						"ClientInfo": {
							"type": "string"
						},
						"CustomerAddress1": {
							"type": "string"
						},
						"CustomerAddress2": {
							"type": "string"
						},
						"CustomerCity": {
							"type": "string"
						},
						"CustomerProvince": {
							"type": "string"
						},
						"CustomerPostalCode": {
							"type": "string"
						},
						"CustomerHomePhone": {
							"type": "string"
						},
						"CustomerAlternatePhone": {
							"type": "string"
						},
						"CustomerMobilePhone": {
							"type": "string"
						},
						"ClientEmail": {
							"type": "string"
						},
						"PreferredMethodofCommunication": {
							"type": "string"
						},
						"Make": {
							"type": "string"
						},
						"ModelNumber": {
							"type": "string"
						},
						"SerialNumber": {
							"type": "string"
						},
						"Description": {
							"type": "string"
						},
						"PaymentType": {
							"type": "string"
						},
						"TrackingNumber": {
							"type": "string"
						},
						"DealerName": {
							"type": "string"
						},
						"District": {
							"type": "string"
						},
						"OrderNumber": {
							"type": "string"
						},
						"TicketNumber": {
							"type": "string"
						},
						"AuthorizationNumber": {
							"type": "string"
						},
						"POforadditionalwork": {
							"type": "string"
						},
						"Status": {
							"type": "string"
						},
						"ReceivedFrom": {
							"type": "string"
						},
						"JobType": {
							"type": "string"
						},
						"Product1": {
							"type": "string"
						},
						"QTY1": {
							"type": "string"
						},
						"Product2": {
							"type": "string"
						},
						"QTY2": {
							"type": "string"
						},
						"Product3": {
							"type": "string"
						},
						"QTY3": {
							"type": "string"
						},
						"Product4": {
							"type": "string"
						},
						"QTY4": {
							"type": "string"
						},
						"Product5": {
							"type": "string"
						},
						"QTY5": {
							"type": "string"
						},
						"Product6": {
							"type": "string"
						},
						"QTY6": {
							"type": "string"
						},
						"Product7": {
							"type": "string"
						},
						"QTY7": {
							"type": "string"
						},
						"Product8": {
							"type": "string"
						},
						"QTY8": {
							"type": "string"
						},
						"Product9": {
							"type": "string"
						},
						"QTY9": {
							"type": "string"
						},
						"Product10": {
							"type": "string"
						},
						"QTY10": {
							"type": "string"
						},
						"JobStatus": {
							"type": "string"
						},
						"TimeOnTask": {
							"type": "string"
						},
						"AdminArea": {
							"type": "string"
						},
						"AssignedTo": {
							"type": "string"
						},
						"InvoiceDate": {
							"type": "string"
						},
						"Call": {
							"type": "string"
						},
						"ClientSurveyLanguage": {
							"type": "string"
						},
						"SurveyCompleted": {
							"type": "string"
						},
						"comments": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"JobId": {
										"type": "string"
									},
									"UserName": {
										"type": "string"
									},
									"UserType": {
										"type": "string"
									},
									"Date": {
										"type": "string"
									},
									"Note": {
										"type": "string"
									}
								}
							}
						},
						"Documents": {
							"type": "array"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dflinkedsvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Targetcosmodataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dfcosmolink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"jobId": {
							"type": "string"
						},
						"hybrisOrderId": {
							"type": "string"
						},
						"clientInfo": {
							"type": "object",
							"properties": {
								"lastName": {
									"type": "string"
								},
								"mobilePhone": {
									"type": "string"
								},
								"email": {
									"type": "string"
								}
							}
						},
						"pdfMedia": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"linkToAttachment": {
										"type": "string"
									},
									"catalog": {
										"type": "string"
									},
									"uploadedDate": {
										"type": "string"
									},
									"delete": {
										"type": "string"
									}
								}
							}
						},
						"imageMedia": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"linkToAttachment": {
										"type": "string"
									},
									"catalog": {
										"type": "string"
									},
									"uploadedDate": {
										"type": "string"
									},
									"delete": {
										"type": "string"
									}
								}
							}
						},
						"trackingDetails": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"linkToAttachment": {
										"type": "string"
									},
									"catalog": {
										"type": "string"
									},
									"uploadedDate": {
										"type": "string"
									},
									"delete": {
										"type": "string"
									}
								}
							}
						},
						"complaints": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"date": {
										"type": "string"
									},
									"reason": {
										"type": "string"
									},
									"text": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "dfcontainer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dfcosmolink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfTargetDataSetCosmoDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dfcosmolink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "dfcontainer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dfcosmolink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hosblobdataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "hosblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/qcmediadataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "targetblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sinkhoscosmodataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hoscosmols",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "qcrepatriatedhostbl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hoscosmols')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcqcbinarydataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string",
						"defaultValue": "@item().Name"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"container": "dfblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcqcbinarydatasetallfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "dfblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/targetdataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dfcosmolink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"jobId": {
							"type": "string"
						},
						"hybrisOrderId": {
							"type": "string"
						},
						"clientInfo": {
							"type": "object",
							"properties": {
								"lastName": {
									"type": "string"
								},
								"mobilePhone": {
									"type": "string"
								},
								"email": {
									"type": "string"
								}
							}
						},
						"pdfMedia": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"linkToAttachment": {
										"type": "string"
									},
									"catalog": {
										"type": "string"
									},
									"uploadedDate": {
										"type": "string"
									},
									"delete": {
										"type": "string"
									}
								}
							}
						},
						"imageMedia": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"linkToAttachment": {
										"type": "string"
									},
									"catalog": {
										"type": "string"
									},
									"uploadedDate": {
										"type": "string"
									},
									"delete": {
										"type": "string"
									}
								}
							}
						},
						"trackingDetails": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"linkToAttachment": {
										"type": "string"
									},
									"catalog": {
										"type": "string"
									},
									"uploadedDate": {
										"type": "string"
									},
									"delete": {
										"type": "string"
									}
								}
							}
						},
						"complaints": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"date": {
										"type": "string"
									},
									"reason": {
										"type": "string"
									},
									"text": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"typeProperties": {
					"collectionName": "dfcontainer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dfcosmolink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/targethosbinarydataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "images",
						"container": "targetblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/targethosimgds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "images",
						"container": "qcblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/targethosjsondatasetv2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "targetblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/targethospdfdataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "pdf",
						"container": "targetblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/targethospngdataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BinaryLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "images",
						"container": "targetblobcontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BinaryLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BinaryLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BinaryLS_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfcosmolink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('dfcosmolink_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dflinkedsvc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('dflinkedsvc_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hoscosmols')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('hoscosmols_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mapdflinkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('mapdflinkedservice_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/QcJsonBlobToHosCosmoDataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "QcJsonDatasetv2",
								"type": "DatasetReference"
							},
							"name": "qcjsonstream"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sinkhoscosmodataset",
								"type": "DatasetReference"
							},
							"name": "hoscosmostream",
							"rejectedDataLinkedService": {
								"referenceName": "dflinkedsvc",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          ParentId as string,",
						"          FromDate as string,",
						"          ToDate as string,",
						"          JobId as string,",
						"          Receiveddate as string,",
						"          MultiUnitDiscount as string,",
						"          OriginalDeliveryDate as string,",
						"          BookedInstallforDateTime as string,",
						"          BookedTimeWindow as string,",
						"          ClientInfo as string,",
						"          CustomerAddress1 as string,",
						"          CustomerAddress2 as string,",
						"          CustomerCity as string,",
						"          CustomerProvince as string,",
						"          CustomerPostalCode as string,",
						"          CustomerHomePhone as string,",
						"          CustomerAlternatePhone as string,",
						"          CustomerMobilePhone as string,",
						"          ClientEmail as string,",
						"          PreferredMethodofCommunication as string,",
						"          Make as string,",
						"          ModelNumber as string,",
						"          SerialNumber as string,",
						"          Description as string,",
						"          PaymentType as string,",
						"          TrackingNumber as string,",
						"          DealerName as string,",
						"          District as string,",
						"          OrderNumber as string,",
						"          TicketNumber as string,",
						"          AuthorizationNumber as string,",
						"          POforadditionalwork as string,",
						"          Status as string,",
						"          ReceivedFrom as string,",
						"          JobType as string,",
						"          Product1 as string,",
						"          QTY1 as string,",
						"          Product2 as string,",
						"          QTY2 as string,",
						"          Product3 as string,",
						"          QTY3 as string,",
						"          Product4 as string,",
						"          QTY4 as string,",
						"          Product5 as string,",
						"          QTY5 as string,",
						"          Product6 as string,",
						"          QTY6 as string,",
						"          Product7 as string,",
						"          QTY7 as string,",
						"          Product8 as string,",
						"          QTY8 as string,",
						"          Product9 as string,",
						"          QTY9 as string,",
						"          Product10 as string,",
						"          QTY10 as string,",
						"          JobStatus as string,",
						"          TimeOnTask as string,",
						"          AdminArea as string,",
						"          AssignedTo as string,",
						"          InvoiceDate as string,",
						"          Call as string,",
						"          ClientSurveyLanguage as string,",
						"          SurveyCompleted as string,",
						"          comments as (JobId as string, UserName as string, UserType as string, Date as string, Note as string)[],",
						"          Documents as (JobId as string, Location as string)[]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'arrayOfDocuments') ~> qcjsonstream",
						"qcjsonstream sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'document',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> hoscosmostream"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/QcJsonDatasetv2')]",
				"[concat(variables('factoryId'), '/datasets/sinkhoscosmodataset')]",
				"[concat(variables('factoryId'), '/linkedServices/dflinkedsvc')]"
			]
		}
	]
}